h1{
    color:#8B0000;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    font-style: inherit;

}
body{
    color:black;
    font-weight: 900;
    background-color: #8B0000;
}

.container{
    width:80%;
    margin:auto;
    text-align: center
}
.headerbox{
    background-color:black;
    border: 5px solid orange;
    width: 50%;
    margin:auto;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;



}
#navi{
    background-color:black;
    width:20%;
    margin:20px;
    height: 40%;
    font-style:oblique;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}
a:link{
    color: blue;
}
a:visited{
    color:aqua;
}
a:hover{
    background-color: yellow;

}
a:active{
    color:green;
}
.img{
    border-radius: 8px;
}
div>p{
    background-color: aliceblue;
}

