h1{
    color:#8B0000;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    font-style: inherit;

}
body{
    color:black;
    font-weight: 900;
    background-color: #8B0000;
}


.container{
    width:80%;
    margin:auto;
    text-align: center
    
}
.headerbox{
    background-color:black;
    border: 5px darkred solid;
    width: 50%;
    margin:auto;
    font-style: italic;


}
#navi{
    background-color:black;
    width:20%;
    margin:2px;;
    height: 40%;
    font-style:oblique;

}
a:hover{
    background-color: yellow;

}

